[submodule "Arduino/libraries/JeeLib"]
	path = Arduino/libraries/JeeLib
	url = git://github.com/jcw/jeelib.git
[submodule "Arduino/Arduino-Makefile"]
	path = Arduino/Arduino-Makefile
	url = git@github.com:jeffkowalski/Arduino-Makefile.git
[submodule "Arduino/libraries/MemoryFree"]
	path = Arduino/libraries/MemoryFree
	url = git://github.com/sudar/MemoryFree.git
